.header {
    display: inline-block;
}

.buttonMenu {
    display: inline-block;
    margin-left: 10px;
}

.navLinkItems {
    display: inline-block;
}

.navLinkItems a {
    padding-left: 10px;
    text-decoration: none;
}

.link {
    color: black;
}

.activeLink {
    color: red;
}

.error404 {
    color: red;
    text-align: center;
}