.MainTitle {
    display: inline-block;
    padding: 20px;
}

.title {
    margin-left: 10px;
}

.error{
    border: red 1px solid;
}

.errSpan {
    display: block;
    color: red;
}

.greetingList {
    display: grid;
    grid-template-columns: 300px 200px;
}